.card-demo md-card,
.card-demo md-card-content {
  margin-bottom: 24px;
}

.card-demo md-card-footer {
  left: 24px;
  margin-bottom: 24px;
}

.containerX {
  border: solid 1px #b6b6b6;
  box-sizing: content-box !important;
}

.hint {
   color: #a3a3a3;
   font-size:0.9em;
   margin:5px;
   margin-bottom:0;
}

.forceAbove {
  margin-top: -275px;
}

.large {
  height:200px;
}

.large div.one, .large div.two {
  color:white;
}

.colorNested, .colored, .coloredContainerX {
  height:200px;
}

.taller {
  height:300px;
}

md-card {
  background-color: white;
}

div.coloredContainerX > div, div.colorNested > div > div {
  padding: 8px;
  box-shadow: 0px 2px 5px 0 rgba(52, 47, 51, 0.63);
  opacity: 0.9;
  color: #fff;
  text-align: center;
}

div.coloredContainerX > div:nth-child(1), div.colorNested > div > div:nth-child(1), div.box1 {
  background-color: #009688;
}

div.coloredContainerX > div:nth-child(2), div.colorNested > div > div:nth-child(2), div.box2 {
  background-color: #3949ab;
}

div.coloredContainerX > div:nth-child(3), div.coloredChildren > div:nth-child(3), div.colorNested > div > div:nth-child(3), div.box3 {
  background-color: #9c27b0;
}

div.coloredContainerX > div:nth-child(4), div.coloredChildren > div:nth-child(4), div.colorNested > div > div:nth-child(4) {
  background-color: #b08752;
}

div.coloredContainerX > div:nth-child(5), div.coloredChildren > div:nth-child(5), div.colorNested > div > div:nth-child(5) {
  background-color: #5ca6b0;
}